##exportPattern("^[[:alpha:]]+")
export(ivDiag)
export(AR_test)
export(tF)
export(eff_F)
export(ltz)
export(plot_coef)
export(plot_ltz)
#export(formula_lfe)
importFrom(fixest,feols)
importFrom(foreach,`%dopar%`)
importFrom(foreach,foreach)
importFrom(ggfortify,ggdistribution)
importFrom(ggplot2, ggplot, geom_vline, labs, xlim)
importFrom(glue, glue)
importFrom(haven, zap_labels)
importFrom(lfe,felm)
importFrom(patchwork, wrap_plots)
importFrom("graphics", "abline", "axTicks", "axis", "box", "legend",
           "mtext", "points", "rect", "segments", "text")
importFrom("stats", "as.formula", "complete.cases", "cor", "dnorm",
           "pnorm", "qnorm", "quantile", "sd")
importFrom("utils", "tail")
importFrom("testthat", "test_that", "expect_equal")
